<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- include any common CSS files or meta tags here -->
</head>
<body>
    <% include ../partials/navbar.ejs %> <!-- Navigation bar -->

    <!-- Page specific content will be included here -->
    <%- body %>

    <% include ../partials/footer.ejs %> <!-- Footer -->
</body>
</html>