<nav class="navbar navbar-expand-md navbar-dark bg-dark scrollable-navbar sticky-top">
<div class="container-fluid">
    <a href="/pages/browse" class="navbar-brand me-3">GNOSIS</a>
    <% if (loggedIn) { %>

    <div class="">
        <a href="/users/hub" class=" text-warning">Hello, <%= username %></a>
    </div>
    <% } %>
</div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <% if (loggedIn) { %>
                    <li class="nav-item"><a class="nav-link" href="/pages/browse">Genres</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/hub">Hub</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pages/popular">Popular</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pages/latest">Latest</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pages/search">Search</a></li>
                    <li class="nav-item"><a class="nav-link logout-link" href="/users/logout">Logout</a></li>
                </ul>
                    <% } else { %>
        <div class="navbar-nav ms-auto">
            <a href="/users/signup" class="nav-link">Register</a>
            <a href="/users/login" class=" nav-link">Login</a>
            <% } %>
        </div>
    </div>


</nav>




