<!DOCTYPE html>
<html>
<head>
    <title>Add TV Show</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Add New TV Show</h2>
        <form action="/add-tv-show" method="post">
            <div class="form-group">
                <label for="tvShowTitle">Title</label>
                <input type="text" class="form-control" id="tvShowTitle" name="title" required>
            </div>
            <div class="form-group">
                <label for="tvShowImageUrl">Image URL</label>
                <input type="text" class="form-control" id="tvShowImageUrl" name="imageUrl" required>
            </div>
            <button type="submit" class="btn btn-primary">Add TV Show</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>