<% for(let show of popularShows) { %>
    <div class="card">
        <div class="overlay">
            <div class="show">
                <h2><%= show.name %></h2>
                <p id="p_rating"><strong>Rating:</strong> <span><%= show.vote_average %> / 10</span></p>
                <a href="/show/<%= show.id %>">Details</a>
            </div>
        </div>
        <img src="http://image.tmdb.org/t/p/w400/<%= show.poster_path %>" onerror="this.onerror=null;this.src='../images/imageNotFound.png';">
    </div>
<% } %>
