
/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #1c1b1b;
    color: #dddbdb;
    padding: 20px;
}

.show-page {
    background-color: black;
}





/* Container for page elements */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

/* Navigation bar */


nav a {
    margin-left: 20px;
    text-align: center;
    float: left;
}

/* Main page area */
main {
    padding: 20px;
}

/* Form Styles */
form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 50%;
}

form input[type='text'],
form input[type='password'],
/* form button {
    padding: 10px;
    margin: 20px 10px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background: #007bff; 
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 10px;
    
}

form .btn:hover {
    background: #0056b3; 
} */

h1 {
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
}

a {
    color: #007bff;
}

/* Responsive */
@media (max-width: 700px) {
    .container, header, nav a, main {
        width: 100%;
        float: none;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-control {
    text-align: center;
}

.container-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


.container-sm > * {
    text-align: center;
}

.btn {
    margin: 10px;
    background: #007bff; 
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 10px;
    width: 50%;

}
/* Show Title */


.show-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;

  }



.show img {
    max-width: 60%;
    height: auto;
    margin: 20px;
    border-radius: 8px;
    
  }
  
  @media (min-width: 600px) {
    .show img {
      max-width: 200px;
    }
  }

    .show {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px;
    }
    #searchResults {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; 
  }

  

    .recommendations-container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .recommendation {
        position: relative;
        display: flex;
        margin: 2px;
        /*   margin: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
         */
      }
      
      .recommendation-poster {
        max-width: 80%;
        height: auto;
        border-radius: 8px;
      }



      .recommendation .recommendation-buttons {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
    
        width: 80%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1px;
        transition: ease-in-out 0.1s;
      }

      .recommendation:hover .recommendation-buttons {
        opacity: 1;
        visibility: visible;
      }


      .add-to-favorites-btn {
        padding: 5px 10px;
        margin: 5px;
        background-color: blue;
        color: white;
        border: none;
        cursor: pointer;
      }

      /* MODAL */

      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }

      .modal-content img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
      
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }


      .star {
        cursor: pointer;
        font-size: 24px;
        color: gold;
      }
      
      /* Style for half-stars  */
      .half-star::after {
        content: '\u2606'; /* Unicode character for half-star */
      }

      .show-icons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        height: auto;
        margin: 20px;
        border-radius: 8px;
    
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        padding: 5px;
        visibility: hidden;
        transition: ease-in-out 0.1s;
      }

      .show:hover .show-icons {
        opacity: 1;
        visibility: visible;
        transition: ease-in-out 0.1s;
      }


      .icon {
        cursor: pointer;
        width: 30px; 
        height: auto;
      }

        .icon:hover {
            transform: scale(1.5);
            transition: ease-in-out 0.1s;
        }

        .icon-button {
          border: none;
          background: none;
          outline: none;
          padding: 0;
          margin: 0;
        }
/* show details page  */

/* .show-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  background-color: black;
} */

/* .show-details {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #050101;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */


.top-card {
  max-height: 250px; /* Adjust as needed to make the card slimmer */
  overflow: hidden;
}



.header-image {
  position: relative;
  text-align: center;
  color: white;
  max-width: 100%;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
}


.image-container {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
      


.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020; 
}


/* show page */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Card Overlay */
.card-img-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}


/* Row and Column Layout */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.col-md-4, .col-md-8 {
  padding: 10px;
}

/* For medium devices and up */
@media (min-width: 768px) {
  .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
  .col-md-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
  }
}

/* Typography */
h2, h5, p {
  margin: 10px 0;
}

p.text-muted {
  color: #6c757d;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

/* Utility Classes */
.mt-4 {
  display:flex;
  margin-top: 1.5rem;
 flex-wrap: wrap;
}

.creator-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;

}


.image-profile {
  width: 20%;
  height: auto;
  border-radius: 5px;
}

.logo-image {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.hidden {
  display: none;
}

h3 {
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
}


.season-card {
  margin-bottom: 20px;
  text-align: center; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease-in-out;
}

.season-image {
  width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
}

.still-image {
  width: 100%; 
  height: auto; 
  margin-bottom: 10px; /
}