<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css"> <!-- Your stylesheet -->
</head>
<body>
  <header>
    <!-- navbar -->
    <% include ../partials/navbar.ejs %>
  </header>
  
  <main>
    <!-- Page specific content will be included here -->
    <%- body %>
  </main>
  
  <footer>
    <!-- Footer content goes here -->
  </footer>

  <script src="/js/script.js"></script> <!-- Your scripts -->
</body>
</html>
