<%- include('../partials/header') %>

<h1>TV Show Genres</h1>
  <div class="genre-container">
    <% genres.forEach(genre => { %>
      <a href="/pages/genre/<%= genre.id %>">
        <div class="genre-card">
          <h2 class="genre-title"><%= genre.name %></h2>
        </div>
      </a>
    <% }); %>
  </div>

<%- include('../partials/footer') %>