<%- include('../partials/header.ejs'); %>

<script>
    const API_KEY = "<%= process.env.TMDB_API_KEY %>";
</script>

<% title = 'Home Page'; %>
<h1>Welcome to GNOSIS</h1>
<p>Discover and manage your favorite TV shows.</p>




<%- include('../partials/footer') %>
