<%- include('../partials/header.ejs'); %>

<% title = 'Home Page'; %>
        <h1>Welcome to GNOSIS</h1>
        <p>Discover and manage your favorite TV shows.</p>
        <!-- Additional content specific to the home page -->
        



