<%- include('../partials/header.ejs'); %>

<% title = 'Home Page'; %>
<h1>Welcome to GNOSIS</h1>
<p>Discover and manage your favorite TV shows.</p>


<div class="home-container">
    <button onclick="location.href='/users/signup'">Sign Up</button>
    <br>
    <button onclick="location.href='/users/login'">Sign In</button>
</div>




<%- include('../partials/footer') %>
