<%- include('../partials/header') %>
<body>
    <h1>Your Favorite Shows</h1>
    <div class="show-list">
        <% favorites.forEach(show => { %>
            <div class="show">
                <img src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="<%= show.name %>">
                <h3><%= show.name %></h3>
                <!-- Other show details -->
            </div>
        <% }); %>
    </div>
</body>
</html>


