<%- include('../partials/header') %>

<div class="logout-container">
    <div class="logout-card">
        <div class="logout-icon">
            <i class="bi bi-box-arrow-right"></i>
        </div>
        
        <h2>Log Out Confirmation</h2>
        
        <p>Are you sure you want to log out of your account?</p>
        <p class="logout-hint">You'll need to log back in to manage your shows.</p>
        
        <div class="logout-buttons">
            <button type="button" class="btn btn-outline-primary back-btn" onclick="goBack()">
                <i class="bi bi-arrow-left"></i> Stay Logged In
            </button>
            
            <form action="/users/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger logout-btn">
                    <i class="bi bi-box-arrow-right"></i> Log Out
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    function goBack() {
        // Try to go back in history if possible
        if (document.referrer && document.referrer.includes(window.location.host)) {
            history.back();
        } else {
            // If no referrer or external referrer, go to hub
            window.location.href = '/users/hub';
        }
    }
</script>

<%- include('../partials/footer') %>