<%- include('../partials/header') %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <div class="container-sm">
        <form action="/users/signup" method="POST">
            <fieldset>
                <legend>Welcome, Please Create an Account</legend>
                <input type="text" class="form-control" name="username" placeholder="Username" required>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </fieldset>
            <input type="submit" class="btn btn-success mt-3" value="Create Account">
            <p>Already have an account? <a href="/users/login">Log in here</a></p>
        </form>
    </div>
</body>
</html>
<%- include('../partials/footer') %>
